body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  background: #333e5a;
}

a {
  color: #fff;
}

header {
  background: #f0293e;
  color: #fff;
  text-align: center;
}
.spacer {
  height: 20vh;
}
.eyes {
  display: flex;
  justify-content: space-around;
}
.r-eye {
  width: 350px;
  height: 250px;
  float: left;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-animation: blink 7s infinite;
  animation: blink 7s infinite;
  -webkit-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}
.l-eye {
  width: 350px;
  height: 250px;
  float: left;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-animation: blink 7s infinite;
  animation: blink 7s infinite;
  -webkit-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}
main {
  height: 200vh;
  background: #000;
}
main .controls {
  text-align: center;
  padding: 0.5em 0;
  background: #333e5a;
  color: #000;
}
main canvas {
  padding: 0;
  margin: 0 auto;
  display: block;
  background: #000;
}
footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
}
@keyframes blink {
  0% {
    background-image: url(/src/assets/img/eye-00.svg);
  }
  97% {
    background-image: url(/src/assets/img/eye-01.svg);
  }
  98% {
    background-image: url(/src/assets/img/eye-03.svg);
  }
  100% {
    background-image: url(/src/assets/img/eye-02.svg);
  }
}
