body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  background: #333e5a;
}

a {
  color: #fff;
}

header {
  background: #f0293e;
  color: #fff;
  text-align: center;
}
.spacer {
  height: 20vh;
}
.eyes {
  display: flex;
  justify-content: space-around;
}

main {
  height: 200vh;
  background: #000;
}
main .controls {
  text-align: center;
  padding: 0.5em 0;
  background: #333e5a;
  color: #000;
}
main canvas {
  padding: 0;
  margin: 0 auto;
  display: block;
  background: #000;
}
footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
}
